/* fonts */
@import '@fontsource-variable/manrope';
@import '@fontsource-variable/jetbrains-mono';

/* presentation */
@import '@animotion/core/theme';

/* tailwind */
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

/* reset */
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

@font-face {
  font-family: 'Sweet Antihero';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/Sweet-Antihero/Sweet-Antihero.ttf") format("truetype");
}
@font-face {
  font-family: 'Cowboy';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("/fonts/COWBOY/COWBOY.ttf") format("truetype");
}
@font-face {
    font-family: 'Maple Mono';
    src: url('/fonts/MapleMono/MapleMono-NF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-feature-settings: "cv01" 1, "cv02" 1, "cv04" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('/fonts/MapleMono/MapleMono-NF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-feature-settings: "cv01" 1, "cv02" 1, "cv04" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('/fonts/MapleMono/MapleMono-NF-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-feature-settings: "cv01" 1, "cv02" 1, "cv04" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('/fonts/MapleMono/MapleMono-NF-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-feature-settings: "cv01" 1, "cv02" 1, "cv04" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('/fonts/MapleMono/MapleMono-NF-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "cv01" 1, "cv02" 1, "cv04" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1;
}

@font-face {
    font-family: 'Maple Mono';
    src: url('/fonts/MapleMono/MapleMono-NF-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-feature-settings: "cv01" 1, "cv02" 1, "cv04" 1, "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1;
}

h1 {
  font-family: 'Sweet Antihero';
}

/* code comments... probably could be improved */
.shiki-magic-move-item[style="color: rgb(106, 115, 125);"] {
  font-style: italic;
}

.teal-emoji {
  color: transparent;
  text-shadow: 0 0 0 #0ed5d5;
}
/* defaults */
:root {
	--r-background-color:  oklch(20% 0.01 272);
	--r-main-font: 'Cowboy';
	--r-main-font-size: 42px;
	--r-main-color: rgb(249, 239, 209); /*oklch(98% 0.02 272);*/
	--r-heading-font: 'Manrope';
	--r-code-font: 'Maple Mono';
	--r-link-color: #0ed5d5; /* oklch(90.54% 0.15 194); */
	--ease: linear(
		0 0%,
		0.0036 9.62%,
		0.0185 16.66%,
		0.0489 23.03%,
		0.0962 28.86%,
		0.1705 34.93%,
		0.269 40.66%,
		0.3867 45.89%,
		0.5833 52.95%,
		0.683 57.05%,
		0.7829 62.14%,
		0.8621 67.46%,
		0.8991 70.68%,
		0.9299 74.03%,
		0.9545 77.52%,
		0.9735 81.21%,
		0.9865 85%,
		0.9949 89.15%,
		1 100%
	);
}

a {
  color: #0ed5d5;
}

/*slide container*/
.reveal-viewport {
  /* https://www.freepik.com/free-photo/seamless-beige-paper-texture-background_1164000.htm#query=cardboard%20texture%20seamless&position=1&from_view=keyword&track=ais_hybrid&uuid=d82298de-730f-4d77-88bb-c8bf52646cfe */
  background-image: url('/paper.jpg');
  background-size: 500px;
  backdrop-filter: invert(60%) brightness(0.6) sepia(1.2) saturate(150%);
	/* background-color: red !important; */
}
/*slide container inner*/
.slides {
}

/* code block */
div:has(> pre) {
	padding: var(--spacing-4) var(--spacing-8);
	background-color: #342816;
	border-top: 1px solid oklch(34% 0.02 272);
	border-radius: var(--radius-lg);
}

/* view transitions */
html {
	view-transition-name: none;
}

::view-transition-group(*) {
	animation-duration: 0.6s;
	animation-timing-function: var(--ease);
}

/* animations */
.enter {
	animation: enter 0.6s var(--ease);
}

.rotate {
	animation: rotate 0.6s var(--ease);
}

@keyframes enter {
	from {
		filter: blur(40px);
		scale: 0;
		translate: 0px 100vh;
	}
}

@keyframes rotate {
	from {
		filter: blur(4px);
		scale: 2;
		rotate: -1turn;
	}
}
